<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>{{ site.title }}</h1>
      <p class="lead">{{ site.description }}</p>
    </div>
    
<iframe src="https://embeds.beehiiv.com/ebb4216f-49f4-44b4-8b71-16a44eff47a0" data-test-id="beehiiv-embed" width="100%" height="320" frameborder="0" scrolling="no" style="border-radius: 4px; border: 2px solid #e5e7eb; margin: 0; background-color: transparent;"></iframe>

    <ul class="sidebar-nav">
      <li class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}">
        <a href="/">Home</a>
      </li>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <li class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}">
              <a href="{{ node.url }}">{{ node.title }}</a>
            </li>
          {% endif %}
        {% endif %}
      {% endfor %}

      <!--<li class="sidebar-nav-item"><a href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a></li>-->
      <li class="sidebar-nav-item"><a href="{{ site.newsletter.main }}" target="_blank">Newsletter</a></li>
      <li class="sidebar-nav-item"><a href="{{ site.github.main }}" target="_blank">GitHub</a></li>
      <li class="sidebar-nav-item"><a href="{{ site.twitter.main }}" target="_blank">Twitter</a></li>
      <li class="sidebar-nav-item"><a href="{{ site.linkedin.main }}" target="_blank">LinkedIn</a></li>
      <!--<li class="sidebar-nav-item">Currently v{{ site.version }}</li>-->
    </ul>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
